<?php
$default_ini = array(
	'database' => array(
		'class' => '\JawHare\Database\DatabaseMySQL',
		'host' => '',
		'user' => '',
		'password' => '',
		'db' => '',
	),
	'class_dir' => realpath(dirname(__FILE__) . '/../includes'),
	'cache' => array(
		'class' => '\\JawHare\\Cache\\CacheMemcached',
		'server' => 'localhost',
		'port' => 11211,
	),
	'session' => array(
		'class' => '\\JawHare\\Session\\Session',
	),
	'authentication' => array(
		'class' => '\\JawHare\\Authentication',
		'cookie' => 'JawHareAuth',
	),
	'jawhare_dir' => realpath(dirname(__FILE__) . '/../'),
);

if (!isset($ini))
	$ini = $default_ini;
else
	foreach ($default_ini AS $key => $val)
	{
		if (!isset($ini[$key]))
			$ini[$key] = $val;
		elseif (is_array($val))
			$ini[$key] = array_merge($val, $ini[$key]);
	}

unset($default_ini);