<?php
$ini = array(
	'database' => array(
		'class' => '\JawHare\Database\DatabaseMySQL',
		'host' => '',
		'user' => '',
		'password' => '',
		'db' => '',
	),
	'cache' => array(
		'Memcached' => array(
			'class' => '\\JawHare\\Cache\\CacheMemcached',
			'server' => 'localhost',
			'port' => 11211,
		),
	),
);
